<div style="text-align:center">
  
  
<nav class="navbar navbar-toggleable-md navbar navbar-inverse navbar-fixed-top bar">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">NEWSDAILY</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link" routerLink="/Login" routerLinkActive="active">Login</a>
            

            
      </li>
      <li>
      <a class="nav-link" routerLink="/Register" routerLinkActive="active">Register</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
     
    </form>
    
   
  </div>
</nav>

<router-outlet></router-outlet>
