
<!-- <div *ngFor=" let new of data">
    {{ new.id }}
  </div> -->
  
  <router-outlet></router-outlet>
  <app-favourite [data]="data"></app-favourite>


  <!-- <div class="container">
  <div class="row"> 
      <div class="col-md-12">
      <div *ngFor=" let new of data" class="text-center">
<div id="display" class="card">
          
          <a href="{{new.url}}" target="blank">
             <img class="card-img-top" src= "{{new.urlToImage}}" width="100%"></a>
          <div class="card-block">
              <!-- <figure class="profile">
                  <img src={{new.urlToImage}} class="profile-avatar" alt="">
              </figure>  -->
             <!--  <h4 class="card-title mt-3">{{new.title}}</h4>
              <div class="meta card-text">
                  <a>By:{{new.author}}</a>
              </div>
              <div class="card-text">
              <p class="lead">{{new.description.slice(0,100)}} </p>
                    <a href="{{new.url}}"> Link to {{new.name}} website  </a>
             
              </div>
          </div>
                    <div class="card-footer">
              <small>Published At: {{new.publishedAt}}</small>
          </div>
        </div>
        </div>
        </div>
        </div>
        </div> -->
  



